VCENTER_DOMAIN="vcenter.lab.local"
VCENTER_USERNAME="administrator@vcenter.lab.local"
VCENTER_PASSWORD="$(pass vcenter/mmcnichol@pivotal.io)"

export GOVC_URL="https://$VCENTER_USERNAME:$VCENTER_PASSWORD@$VCENTER_DOMAIN/sdk"
export GOVC_INSECURE=1
